{
  "parser": "eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "module": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-mixed-spaces-and-tabs": [
      2,
      "smart-tabs"
    ],
    "no-console": "warn",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "ignoreComments": true
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "space-in-parens": [
      "error"
    ],
    "space-infix-ops": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "comma-spacing": "error",
    "space-before-function-paren": [
      "error",
      { "asyncArrow": "always",
        "named": "never",
        "anonymous": "never"
      }
    ],
    "space-before-blocks": [
      "error",
      {
        "functions": "always"
      }
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true,
        "overrides": {
          "if": {
            "after": false
          },
          "for": {
            "after": false
          },
          "while": {
            "after": false
          },
          "do": {
            "after": false
          },
          "catch": {
            "after": false
          },
          "switch": {
            "after": false
          }
        }
      }
    ],
    "array-bracket-spacing": "error",
    "eol-last": "error",
    "react/prop-types": [2, { "skipUndeclared": true }]
  }
}
